
// <^ projName | capitalize ^> is an interesting class that does many things. <^ adPacks ^>.

export SOME_CONST = "ssdfdsfdsf";

class <^ projName | pascalcase ^> {

    constructor() {
        console.log('This is the constructor of <^ projName | capitalize ^>');
    }

    // This is a function that does something.
    doSomething() {
        console.log('This is the doSomething function');
    }
}